<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlCli</servlet-name>
        <servlet-class>controlador.controlCli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlCat</servlet-name>
        <servlet-class>controlador.controlCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlImg</servlet-name>
        <servlet-class>controlador.controlImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlPro</servlet-name>
        <servlet-class>controlador.controlPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlPed</servlet-name>
        <servlet-class>controlador.controlPed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlCli</servlet-name>
        <url-pattern>/controlcli.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlCat</servlet-name>
        <url-pattern>/controlcat.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlImg</servlet-name>
        <url-pattern>/controlimg.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlPro</servlet-name>
        <url-pattern>/controlpro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlPed</servlet-name>
        <url-pattern>/controlped.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
