@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico&display=swap');
@import url(header.css);
@import url(menu.css);
@import url(banner.css);
@import url(main.css);
@import url(footer.css);
@import url(responsive.css);
*{
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
img{
	display: block;
	width: 100%;
	max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
.container{
	width: 100%;
	margin: auto;
}
.container_flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.column{
	width: 100%;
}
.column--50-space{
    margin-bottom: 5px;
}
.column--50-list{
    width: 70px;
    height: 25px;
    border-radius: 5px;
}
.column--50-list{    
    background-color: #ddd;
}
  .out_table{
    display: table;
    width: 600px;
    border: 1px solid #ccc;
    text-align: center;
}
 .out_table .out_row{
    display: table-row;
   
}
 .out_table .out_row .out_cell{
    display: table-cell;
    padding: 10px;
    border: 1px solid #ccc;
}

/*responsivo 480*/
@media screen and (min-width:480px) {
	.logo{
		color: white;
	}
	.main-nav{
		background: rgba(0,0,0,0.85);
	}

	.banner{
		margin-top: -145px;
		z-index: -1000;
	}
	.banner_img{
		height: 600px;
	}
	.banner_content{
		font-size: 2em;
	}
	.main{
		padding-bottom: 15px;
	}
	
	.main-about-description .column:nth-child(2){
		padding-left: 20px;
		font-size: .9em;
	}
	.main-about-description .btn{
		margin:0;
	}

	.today-special .column {
		border: 5px solid #ddd;
		padding: 5px;
		position: relative;
	}
	.today-special_img{
		height: 200px;
		object-fit: cover;
	}
	.main-footer .container_flex{
		align-items: flex-start;
	}
	.column--50{
		width: 49%;
	}
	.column_50-25{
		width: 49%;
	}
	.column--33{
		width: 32%;
	}
}
/*responsivo 768*/
@media screen and (min-width:768px) {
	.main_title{
		font-size: 2.2em;
	}
	.main-about-description{
		margin-top: 30px;
	}
	.main-about-description .colum-50:nth-child(2) {
		font-size: 1em;
	}
	.main-about-description .colum-50:nth-child(2) {
		line-height: 30px;
	}
	.column_50-25{
		width: 24.5%;
		
	}
	.today-special_img{
		width: 100%;

	}
	.colum-title{
		font-size: 1.5em;
	}
	.group_title{
		font-size: 2.2em;
	}
}
/*responsivo 1024*/
@media screen and (min-width:1024px){
	.container{
		width: 900px;
	}
	.logo{
		font-size: 2em;
		padding: 0;
	}
	.main-nav{
		padding: 0;
	}
	.banner_content{
		font-size: 2.5em;
	}
	.icon-menu{
		display: none;
	}
	.menu{
		position: static;
		display: flex;
		height: auto;
		width: auto;
	}
	.menu_link{
		padding: 20px;
	}
	.group-color .container{
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 20px;	
	}
	.main_title{
		font-size: 2.3em;
	}
	.main-about-description .colum-50:nth-child(2) .column-txt{
			line-height:50px;
		}
	.today-special_title{
		font-size: 1.8em;
	}
	.today-special_price{
		font-size: 1.8em;
	}		
	.main-footer{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
/*responsivo 1600*/
@media screen and (min-width:1600px){
	.container{
		width: 1300px;
	}
	.main-about-description .column:nth-child(1) img{
		width: 100%;
		height: 350px;
		object-fit: cover;
	}
	.today-special_img{
		height: 300px;
	}
}
