.group-color .container{
	background: #DE423A;
	color: white;
	padding: 10px;
	text-align: center;
}
.main_title{
	margin: 15px 0;
	font-size: 1.8em;
	font-family: 'Pacifico' ,cursive;
	font-weight: 100;

}
.main_txt{

}.colum-title{
	font-size:1.3em;
}
.main-about-description .column:nth-child(2) {
	padding: 10px;
}
.btn{
	display: block;
	text-align: center;
	width: 250px;
	background: #DE423A;
	color: white;
	padding: 10px;
	margin: 10px auto;
        border: 2px solid #DE423A;
        border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
}
.group_title{
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-weight: 100;
	font-size: 1.8em;
	margin: 30px;
}
.today-special .column{
	margin-bottom: 30px;
	text-align: center;
}
.today-special_img{
	margin: auto;
	max-width: 350px;
}
.today-special_img:hover{
	cursor: pointer;
}
.today-special_title{
	font-size:1.3em;
	padding-top: 10px;
	padding-bottom:20px;
}
.today-special_price{
	font-size:1.5em;
	color: #DE423A;
	font-weight: bold;
}
.today-special-cantidad{
    width: 30px;
    border: none;
    border: 2px solid #ccc;
    border-radius: 3px;
}
.column--50>span{
    padding-right: 20px;
    text-align: center;
}
.column--50>span>a{
    text-decoration: none;
    padding-right: 8px;
    padding-left: 8px;
    color:#222;
    font-size:1.2em;
    
}
.column--50>span>a:hover{
   cursor: pointer;
   background: #ffcc66;
   border-radius: 10px; 
}
.column--50>button{
    border: none;
    width: 30px;
   border-radius: 5px;
}
.column--50>button:hover{
    cursor: pointer;
    color: white;
    background: red;
}
